# Build dirs
build/
cmake-build-*/
out/
CMakeFiles/
CMakeCache.txt

# CLion & CMake
.idea/
*.cmake
*.vcxproj*
*.sln
*.user

# Compiled stuff
*.exe
*.obj
*.pdb
*.dll
*.lib
*.ilk
*.log

# CUDA intermediate files
*.fatbin*
*.ptx
*.cudafe*
*.cu.cpp
*.tmp

# DICOM or dataset
data/**
!data/README.md

# System
.DS_Store
Thumbs.db
